@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== FONT FACE ===== */
@font-face {
  font-family: Gilroy;
  font-weight: 500;
  src: url("../fonts/Gilroy-Medium.ttf") format("truetype");
}
@font-face {
  font-family: Gilroy;
  font-weight: 600;
  src: url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: Gilroy;
  font-weight: 700;
  src: url("../fonts/Gilroy-Bold.ttf") format("truetype");
}

/* ===== :: -WEBKIT-SCROLLBAR ===== */
::-webkit-scrollbar {
  @apply w-2 bg-gray-50;
}
::-webkit-scrollbar-thumb {
  @apply rounded-full bg-gray-100 hover:bg-gray-200;
}
